/*^-------------------------------------RESET--------------------------------------*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/*^-------------------------------------GENERAL------------------------------------*/
/**---General---**/
body {
    font-family: 'Montserrat', sans-serif;
}
/**---Scrittura---**/
h1,h2,h3,h4 {
    color: white;
}
h1 {
    font-size: 25px;
    font-weight: 600;
}
ul,a,p {
    list-style: none;
    color: #717171;
    font-weight: 700;
    font-size: 13px;
    text-decoration: none;
}
/*^------------------------------------UTILITIES------------------------------------*/
/**---Display---**/
.flex {
    display: flex;
}
/*^------------------------------------STRUTTURA------------------------------------*/
/**-----------------------------------Main/Block1----------------------------------**/
main {
    height: calc(100vh - 130px);
    display: flex;
}
                                 /**---Sidebar---**/
.sidebar {
    width: 230px;
    background-color: black;
    padding: 20px;
    position: relative;
}
.sidebar li {
    margin: 15px 0px;
}
.sidebar li a.flex {
    align-items: center;
}
.listaRicerca a:hover {
    color: white;
}
.listaPlaylist a:hover {
    color: white;
}
.FooterNav-download a:hover {
    color: white;
}
/*Logo Nav*/
.logoNav {
    vertical-align: middle;
    line-height: 32px;
}
.logoSmartphone {
    display: none;
}
.PrincipalLogo {
    width: 120px;
}
/*Lista Nav Ricerca*/
.listNav ul {
    margin: 20px 0px;
}
.svgNav {
    width: 20px;
}
.listNav li a.flex svg {
    margin-right: 5px;
}
.aListRicercaSmartphoneVersion {
    display: none;
}
.selectionHome {
    height: 30px;
    width: 2px;
    background-color: #ADFF2F;
    position: absolute;
    left: 0;
}
/*Lista Nav Playlist*/
.LI-Playlist {
    align-items: center;
}
.fa-solid.fa-square-plus {
    font-size: 40px;
    margin-right: 8px;
}
/*Footer Nav*/
.FooterNav {
    position: absolute;
    left: 20px;
    bottom: 8px;
    right: 20px;
}
.FooterNav-download {
    padding-bottom: 10px;
    align-items: center;
}
.downloadSvgFooterNav {
    width: 20px;
}
.FooterNav-account {
    padding-top: 10px ;
}
.FooterNav-account {
   align-items: center;
   border-top: 1px solid #717171;
}
.FooterNav-account h3 {
    display: inline;
    font-size: 15px;
}
.FooterNav-account .fa-solid.fa-circle-user {
    font-size: 25px;
}
.usersSvgFooterNav {
    height: 30px;
    width: 30px;
    border-radius: 50%;
    background-color: #717171;
    text-align: center;
    overflow: hidden;
    margin-right: 10px;
}
.users {
    width: 30px;
}
/*!-- Responsive Sidebar MAX-576px --*/
@media  screen and (max-width:576px) 
{
    /*Sidebar*/
    .sidebar {
    width: 70px;
    }
    .sidebar li {
        margin: 5px 0px;
    }
    /*Logo Nav*/
    .logoGenerale {
    display: none;
    }
    .logoSmartphone {
        display: block;
    }
    .logoSmartphone img {
        filter: invert(1);
        width: 30px;
    }
    /*Lista Nav Ricerca*/
    .listNav ul {
        margin: 0;
    }
    .aListRicercaPrincipalVersion {
        display: none;
    }
    .aListRicercaSmartphoneVersion {
        display: block;
    }
    .aListRicercaSmartphoneVersion svg {
        width: 30px;
    }
    /*Lista Nav Playlist*/
    .listaPlaylist {
        display: none;
    }
    /*Footer Nav*/
    .FooterNav-download {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .FooterNav-account {
        justify-content: center;
        border: none;
    }
    .textFooterNavExceptionSmartphone {
        display: none;
    }
    .usersSvgFooterNav {
        width: 20px;
        height: 20px;
        border-radius: 50%;
        object-fit: cover;
        margin: 0;
    }
    .users {
        width: 20px;
    }
}

/*----------------------------------------------------------------------------------*/

                            /**---Container-Header&Section---*/
.containerHeader-Section {
    overflow-y: scroll;
    background-color: #141922;
}

/*----------------------------------------------------------------------------------*/

                                   /**---Header---**/
header {
    height: 130px;
    background-color: #080B12 ;
    align-items: center;
    justify-content: flex-end;
    position: sticky;
    top: 0;
    z-index: 1;
}
header a {
    color: white;
    padding: 15px 25px;
    border: 1px solid white;
    border-radius: 25px;
    margin-right: 35px;
}
header a:hover {
    transform: scale(1.3);
}
/*!-- Già tutto Responsive --*/

/*----------------------------------------------------------------------------------*/

                              /**---Principal Content---**/
.principalContent {
    height: calc(100vh - 260px);
    padding: 20px;
    background-color: #141922;
}

/*&----Nav Section Main----**/
/* UL/NAV Principal Content */
.navSection-Main {
    justify-content: center;
}
.navSection-Main ul {
    gap: 25px;
    margin-bottom: 40px;
}
.navSection-Main ul div {
    border-top: 1px solid #ADFF2F;
    width: 40px;
    margin-top: 5px;
}
.navSection-Main li.flex {
    flex-direction: column;
    align-items: center;
}
.navSection-Main ul a:hover {
    color: white;
}
/*!-- Responsive Section Main MAX-950px --*/
@media  screen and (max-width:950px) 
{
    /* Section Main */
.navSection-Main ul.flex {
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    }
}

/*-----------------------------*/

/*&----Recently Played----**/
/* Visti Recenti */
.titleVistiRecenti {
    margin-bottom: 30px;
}
/*Row-Col-Card Visti*/
.rowVisti {
    height: 450px;
    gap: 20px;
}
.rowVistiTablet {
    display: none;
}
.rowVistiTablet2 {
    display: none;
}
.cardVisti {
    height: 100%;
    width: 15% ;
}
.imgCardVisti {
    height: 65%;
    width: 100%;
    position: relative;
}
.imgCardVisti i {
    display: none;
}
.imgCardVisti:hover img{
    opacity: 0.5;
}
.imgCardVistiTablet:hover img{
    opacity: 0.5;
}
.imgCardVistiSmartphone:hover img{
    opacity: 0.5;
}
.imgCardVisti:hover i {
    color: white;
    font-size: 70px;
    position: absolute;
    bottom: 50%;
    left: 50%;
    display: block;
    transform: translate(-50% , 50%);
    cursor: pointer;
}
.imgCardVistiTablet {
    position: relative;
}
.imgCardVistiSmartphone {
    position: relative;
}
.imgCardVistiTablet i {
    display: none;
}
.imgCardVistiSmartphone i {
    display: none;
}
.imgCardVistiTablet:hover i {
    color: white;
    font-size: 70px;
    position: absolute;
    bottom: 50%;
    left: 50%;
    display: block;
    transform: translate(-50% , 50%);
    cursor: pointer;
}
.imgCardVistiSmartphone:hover i {
    color: white;
    font-size: 70px;
    position: absolute;
    bottom: 50%;
    left: 50%;
    display: block;
    transform: translate(-50% , 50%);
    cursor: pointer;
}
.imgCardVisti img {
    width: 100%;
    height: 100%;
}
.textCardVisti {
    min-height: 35%;
    text-align: center;
}
.textCardVisti h3 {
    margin: 10px 0px;
}
.rowVistiSmartphone,.rowVistiSmartphone2,.rowVistiSmartphone3,.rowVistiSmartphone4 {
    display: none;
}
/*!-- Responsive Row-Col-Card Visti Main MAX-1800px --*/
@media  screen and (max-width:1800px) 
{
    /*Row-Col-Card Visti*/
.rowVisti {
    display: none;
}
.rowVistiTablet {
    display: flex;
    min-height: 250px;
    gap: 15px;
    margin-bottom: 40px;
}
.cardVistiTablet {
    width: calc(100% / 4 - 15px ) ;
    overflow: hidden;
    min-height: 250px;
}
.imgCardVistiTablet img {
    width: 100%;
}
.textCardVistiTablet {
    text-align: center;
}
.textCardVistiTablet h3 {
    margin: 20px 0px;
    font-size: 20px;
}
.textCardVistiTablet p {
    font-size: 18px;
}
.rowVistiTablet.flex.start {
    justify-content: flex-start;
    gap: 20px;
}
}
/*!-- Responsive Row-Col-Card Visti Main MAX-990px --*/
@media  screen and (max-width:990px) 
{
    /*Row-Col-Card Visti*/
    .rowVistiTablet,.rowVistiTablet2 {
    display: none;
    }
    .rowVistiSmartphone,.rowVistiSmartphone2,.rowVistiSmartphone3 {
        display: flex;
        gap: 19px;
        min-height: 350px;
    }
    .cardVistiSmartphone,.cardVistiSmartphone2,.cardVistiSmartphone3 {
        margin-top: 20px;
        width: calc(60% - 19px);
    }
    .imgCardVistiSmartphone img {
        width: 100%;
    }
    .textCardVistiSmartphone {
        text-align: center;
    }
    .textCardVistiSmartphone h3 {
        margin: 15px 0px;
        font-size: 16px;
    }
    .textCardVistiSmartphone p {
        margin-bottom: 15px;
        font-size: 15px;
    }
}
/*!-- Responsive Row-Col-Card Visti Main MAX-668px --*/
@media  screen and (max-width:668px) 
{
    /*Row-Col-Card Visti*/
    .rowVistiSmartphone,.rowVistiSmartphone2,.rowVistiSmartphone3 {
        min-height: 300px;
    }
    .cardVistiSmartphone,.cardVistiSmartphone2,.cardVistiSmartphone3 {
        margin: 0px;
    }
    .imgCardVistiSmartphone img {
        width: 100%;
    }
    .textCardVistiSmartphone h3 {
        font-size: 16px;
        margin: 5px 0px;
    }
}
/*!-- Responsive Row-Col-Card Visti Main MAX-576px --*/
@media  screen and (max-width:576px) 
{
    /*Row-Col-Card Visti*/
    .rowVistiSmartphone,.rowVistiSmartphone2,.rowVistiSmartphone3 {
        display: none;
    }
    .rowVistiSmartphone4 {
        display: flex;
        flex-direction: column;
        gap: 50px;
        min-height: 200px;
        justify-content: space-between;
    }
    .cardVistiSmartphone4 {
        min-height: 400px;
    }
}

/*-----------------------------*/

/*&----Creato per John Doe----**/
/*Section John Doe*/
.titleJohnDoe {
    line-height: 30px;
}
.rowJohnDoe {
    height: 450px;
    gap: 20px;
    margin-top: 20px;
}
.cardJohnDoe {
    height: 100%;
    width: 15%;
}
.imgJohnDoe {
    height: 65%;
    position: relative;
}
.imgJohnDoe img {
    width: 100%;
    height: 100%;
}
.imgJohnDoe i {
    display: none;
}
.imgJohnDoe:hover {
    cursor: pointer;
}
.imgJohnDoe:hover>img {
    opacity: 0.5;
}
.imgJohnDoe:hover i {
    color: white;
    font-size: 70px;
    position: absolute;
    bottom: 50%;
    left: 50%;
    display: block;
    transform: translate(-50% , 50%);
}
.textJohnDoe {
    text-align: center;
    height: 35%;
}
.textJohnDoe h3 {
   margin: 10px 0px;
}
/*!-- Responsive Section John Doe MAX-1800px --*/
@media  screen and (max-width:1800px) {
    .rowJohnDoe {
        height: auto;
        min-height: 250px;
    }
    .cardJohnDoe {
        width: calc(100% / 4 - 15px ) ;
        min-height: 250px;
    }
    .textJohnDoe h3 {
        margin: 20px 0px;
        font-size: 20px;
    }
    .titleJohnDoe {
        margin-top: 50px;
    }
}
/*!-- Responsive Section John Doe MAX-990px --*/
@media  screen and (max-width:990px) {
    .cardJohnDoe {
        width: 60% ;
    }
    .textJohnDoe h3 {
        font-size: 16px;
        margin: 15px 0px;
    }
}
/*!-- Responsive Section John Doe MAX-668px --*/
@media  screen and (max-width:668px) {
    .rowJohnDoe {
        min-height: 350px;
    }
}
/*!-- Responsive Section John Doe MAX-576px --*/
@media  screen and (max-width:576px) {
    .rowJohnDoe {
        gap: 50px;
        flex-wrap: wrap;
    }
    .cardJohnDoe {
        width: 100% ;
    }
}

/*-----------------------------*/

/*&----Artisti più popolari----**/
/*Section Artisti*/
.titleArtisti {
    line-height: 30px;
}
.rowArtisti {
    height: 500px;
    gap: 20px;
    margin-top: 20px;
}
.cardArtisti {
    height: 100%;
    width: 15%;
}
.imgArtisti {
    height: 50%;
    position: relative;
}
.imgArtisti img {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    object-fit: cover
}
.imgArtisti i {
    display: none;
}
.imgArtisti:hover {
    cursor: pointer;
}
.imgArtisti:hover>img {
    opacity: 0.5;
}
.imgArtisti:hover i {
    color: white;
    font-size: 70px;
    position: absolute;
    bottom: 50%;
    left: 50%;
    display: block;
    transform: translate(-50% , 50%);
}
.textArtisti {
    text-align: center;
    height: 50%;
}
.textArtisti h3 {
   margin: 10px 0px;
}
/*!-- Responsive Section Artisti MAX-1800px --*/
@media  screen and (max-width:1800px) {
    .rowArtisti {
        height: auto;
        min-height: 250px;
    }
    .cardArtisti {
        width: calc(100% / 4 - 15px ) ;
        min-height: 250px;
    }
    .textArtisti h3 {
        margin: 20px 0px;
        font-size: 20px;
    }
    .titleArtisti {
        margin-top: 50px;
    }
}
/*!-- Responsive Section Artisti MAX-990px --*/
@media  screen and (max-width:990px) {
    .cardArtisti {
        width: 60% ;
    }
    .textArtisti h3 {
        font-size: 16px;
        margin: 15px 0px;
    }
}
/*!-- Responsive Section Artisti MAX-668px --*/
@media  screen and (max-width:668px) {
    .rowArtisti {
        min-height: 350px;
    }
}
/*!-- Responsive Section Artisti MAX-576px --*/
@media  screen and (max-width:576px) {
    .rowArtisti {
        gap: 50px;
        flex-wrap: wrap;
    }
    .cardArtisti {
        width: 100% ;
    }
}

/*----------------------------------------------------------------------------------*/

            /**----------------------Footer/Block2----------------------**/
footer {
    height: 130px;
    background-color: #282828;
}
.containerFooter {
    height: 100%;
}
/* Colonna sinistra */
.colSxFooter {
    width: 20%;
    height: 100%;
    align-items: center;
    gap: 25px;
}
.branoFooter {
    gap: 10px;
    margin-left: 10px;
}
.imgBranoFooter {
    height: 50px;
    width: 50px;
}
.imgBranoFooter img {
    width: 100%;
}
.autoreBranoFooter {
    justify-content: center;
    flex-direction: column;
}
.autoreBranoFooter h3 {
    font-size: 12px;
} 
.autoreBranoFooter p {
    font-size: 10px;
} 
.autoreBranoFooter p:hover {
    color: white;
    text-decoration: underline;
    cursor: pointer;
}
.cartelleFooter {
    gap: 20px;
}
.cartelleFooter a {
    font-size: 20px;
}
.cartelleFooter a:hover {
    color: white;
}
/* Colonna centrale */
.colCenFooter {
    width: 60%;
    height: 100%;
    flex-direction: column;
    justify-content: center;
}
.buttonPlayFooter {
    text-align: center;
    margin-top: 10px;
}
.buttonPlayFooter a {
    font-size: 27px;
    color: white;
    margin-right: 30px;
    height: 50%;
}
.loadBarFooter {
    align-items: center;
    justify-content: center;
    height: 50%;
    gap: 20px;
}
.loadBarFooter p {
    color: white;
}
.barFooter {
    height: 7px;
    width: 40%;
    background-color: #5A5A5A;
    border-radius: 10px;
}
.barFooterCaricamento {
    height: 100%;
    width: 20%;
    background-color: #C1C1C1;
    border-radius: 10px;
    position: relative;
}
.pallinoCaricamento {
    height: 20px;
    width: 20px;
    border-radius: 50%;
    background-color: white;
    position: absolute;
    transform: translate(-0% , -29%);
    right: 0;
    display: none;
}
.barFooterCaricamento:hover {
    background-color: #ADFF2F;
    cursor: pointer;
}
.barFooterCaricamento:hover .pallinoCaricamento {
    display: block;
}
.buttonPlayFooter .fa-regular.fa-circle-play:hover {
    scale: 2;
}
/* Colonna destra */
.colDxFooter {
    width: 20%;
    height: 100%;
    gap: 20px;
    align-items: center;
    justify-content: flex-end;
}
.cartelleColDX {
    align-items: center;
    gap: 20px;
    width: 300px;
    justify-content: flex-end;
}
.cartelleColDX a {
    color: white;
    font-size: 20px;
   
}
.barraDX {
    height: 7px;
    width: 100px;
    background-color: #5A5A5A;
    border-radius: 20px;
    margin-right: 10px;
    
}
.barraCaricamentoDX {
    width: 40% ;
    height: 100% ;
    background-color: #C1C1C1;
    border-radius: 20px;
    position: relative;
}
.colCenFooterXS {
    display: none;
}
.barraCaricamentoDX:hover {
    background-color: #ADFF2F;
    cursor: pointer;
}
.barraCaricamentoDX:hover .pallinoCaricamento {
    display: block;
    height: 15px;
    width: 15px;
}

/*!-- Responsive Footer MAX-788px --*/
@media screen and (max-width:788px)
    {
    /* Colonna sinistra */
    .colSxFooter {
    gap: 10px;
    }
    .branoFooter {
    flex-direction: column;
    margin-top: 10px;
    }
    .cartelleFooter {
    margin-left: 10px;
    flex-direction: column;
    gap: 0px;
    margin-left: -30px;
    }
    .autoreBranoFooter {
    flex-direction: row;
    gap: 10px;
    }
    /* Colonna destra */ 
    .cartelleColDX {
    flex-direction: column;
    height: 100%;
    gap: 10px;
    padding: 5px;
    justify-content: center;
    }
    .cartelleColDX a {
    font-size: 16px;
    }
}
/*!-- Responsive Footer MAX-500px --*/
@media screen and (max-width:500px)
    {
    .containerFooter {
    justify-content: space-between;
    }
    /* Colonna centrale */
    .colCenFooter {
    display: none;
    }
    .colCenFooterXS {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    }
    .buttonPlayFooterXS a {
    font-size: 40px;
    color: white;
    }
    .minuteFooterStartXS p {
    color: white;
    }
    .minuteFooterEndXS p {
    color: white;
    }
    .barFooterXS {
    background-color: #5A5A5A;
    width: 80px;
    height: 7px;
    border-radius: 20px;
    }
    .barFooterCaricamentoXS {
    width: 20px;
    height: 100%;
    border-radius: 20px;
    background-color: #C1C1C1;
    }
    .loadBarFooterXS {
    flex-direction: column;
    align-items: center;
    gap: 5px;
    }
    
}
/*!-- Responsive Altezza Footer Bonus --*/
@media screen and (max-height: 710px) 
{
    .listaPlaylist {
    overflow-y: scroll;
    height: 200px;
    }
    .FooterNav {
    display: none;
    }
}
@media screen and (max-height: 170px) 
{
    .sidebar {
       display: none;
    }
}
