/*^-------------------------------------RESET--------------------------------------*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/*^-------------------------------------GENERAL------------------------------------*/
/**---General---**/
body {
    font-family: 'Montserrat', sans-serif;
}
/**---Scrittura---**/
h1,h2,h3,h4 {
    color: white;
}
h1 {
    font-size: 25px;
    font-weight: 600;
}
ul,a {
    list-style: none;
    color: #717171;
    font-weight: 700;
    font-size: 13px;
    text-decoration: none;
}
/*^------------------------------------UTILITIES-----------------------------------*/
/**---Display---**/
.flex {
    display: flex;
}

/*^-----------------------------PRINCIPAL CONTENTS / BLOCK 1-----------------------*/
                /**---------------------Contents----------------------**/
/* Contents */
.content {
    width: 100%;
    height: 90vh;
}
                 /**--------------------Sidebar----------------------**/
/* Sidebar */
.sidebar {
    min-width: 230px;
    height: 90vh;
    background-color: black;
    padding: 20px;
    position: relative;
}
.sidebar li {
    margin: 15px 0px;
}
.sidebar li a.flex {
    align-items: center;
}
/*Logo Nav*/
.logoNav {
    vertical-align: middle;
    line-height: 32px;
}
.logoSmartphone {
    display: none;
}
.PrincipalLogo {
    width: 120px;
}
/*Lista Nav Ricerca*/
.listNav ul {
    margin: 20px 0px;
}
.svgNav {
    width: 20px;
}
.listNav li a.flex svg {
    margin-right: 5px;
}
.aListRicercaSmartphoneVersion {
    display: none;
}
/*Lista Nav Playlist*/
.LI-Playlist {
    align-items: center;
}
.fa-solid.fa-square-plus {
    font-size: 40px;
    margin-right: 8px;
}
/*Footer Nav*/
.FooterNav {
    position: absolute;
    left: 20px;
    bottom: 8px;
    right: 20px;
}
.FooterNav-download {
    padding-bottom: 10px;
    align-items: center;
}
.downloadSvgFooterNav {
    width: 20px;
}
.FooterNav-account {
    padding-top: 10px ;
}
.FooterNav-account {
   align-items: center;
   border-top: 1px solid #717171;
}
.FooterNav-account h3 {
    display: inline;
    font-size: 15px;
}
.FooterNav-account .fa-solid.fa-circle-user {
    font-size: 25px;
}
.usersSvgFooterNav {
    height: 30px;
    width: 30px;
    border-radius: 50%;
    background-color: #717171;
    text-align: center;
    overflow: hidden;
    margin-right: 10px;
}
.users {
    width: 30px;
}
/*!-- Responsive Sidebar MAX-576px --*/
@media  screen and (max-width:576px) 
{
    /*Sidebar*/
    .sidebar {
    min-width: 70px;
    }
    .sidebar li {
        margin: 5px 0px;
    }
    /*Logo Nav*/
    .logoGenerale {
    display: none;
    }
    .logoSmartphone {
        display: block;
    }
    .logoSmartphone img {
        filter: invert(1);
        width: 30px;
    }
    /*Lista Nav Ricerca*/
    .listNav ul {
        margin: 0;
    }
    .aListRicercaPrincipalVersion {
        display: none;
    }
    .aListRicercaSmartphoneVersion {
        display: block;
    }
    .aListRicercaSmartphoneVersion svg {
        width: 30px;
    }
    /*Lista Nav Playlist*/
    .listaPlaylist {
        display: none;
    }
    /*Footer Nav*/
    .FooterNav-download {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .FooterNav-account {
        justify-content: center;
        border: none;
    }
    .textFooterNavExceptionSmartphone {
        display: none;
    }
    .usersSvgFooterNav {
        width: 20px;
        height: 20px;
        border-radius: 50%;
        object-fit: cover;
        margin: 0;
    }
    .users {
        width: 20px;
    }
}
                /**-----------------------Main--------------------**/
/* Main */
main {
    width: 100%;
    height: 90vh;
    overflow-y: scroll; 
}
                /**-----------------------Header------------------**/
/* Header */
header {
    width: 100%;
    height: 10vh;
    background-color: #080B12 ;
    position: sticky;
    top: 0;
    text-align: right;
    line-height: 10vh;
}
header a {
    color: white;
    padding: 15px 25px;
    border: 1px solid white;
    border-radius: 25px;
    margin-right: 10px;
}
/*!-- Già tutto Responsive --*/
                 /**--------------------Section Main---------------**/
/* Section Main */
.section-Main {
    width: 100%;
    height: 80vh;
    background-color: pink;
    padding: 20px;
    background-color: #141922;
}
/*^----------------------------------FOOTER / BLOCK 2------------------------------*/
                 /**------------------------Footer----------------**/
/* Footer */            
footer {
    width: 100%;
    height: 10vh;
    background-color: blue;
}












